
<div class="main__wrapper">
  <div class="flex flex-row space-4">
    <%= link_to 'Create product', new_admin_product_path, class:"btn btn-sm"  %>
  </div>

  <% products.each do |product| %>
    <div class="product">
      <h2 class="product__title"><%= product.title %></h2>
      <p class="product__desc"><%= product.description %></p>
      <% if product.image.attached? %>
        <p><%= image_tag product.image %></p>
      <% end %>
      <p class="product__price">$ <%= product.price %></p>
      <% if product.in_stock == true %>
        <p class="product__stock">In stock</p>
        <% else %>
        <p class="product__stock-not">Not in stock</p>
      <% end %>

      <div class="flex flex-row space-x-8">
      <div class="my-6">
        <%= link_to 'Edit', edit_admin_product_path(product), class:"btn btn-sm" %>
      </div>
      <div class="my-6">
        <%= button_to 'Delete', admin_product_path(product), method: :delete, class: "btn btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
