<!DOCTYPE html>
<html>
  <head>
    <title>ShopCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <main class="main">
      <div class="main__wrapper">
        <%= render 'admin/shared/navbar' %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
